<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.user.mapper.AppUserByMobileMapper">
    <resultMap id="BaseResultMap" type="com.sunny.task.user.model.AppUserByMobile">
        <id column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    MOBILE, USER_ID
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from app_user_by_mobile
        where MOBILE = #{mobile,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_user_by_mobile
    where MOBILE = #{mobile,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sunny.task.user.model.AppUserByMobile">
    insert into app_user_by_mobile (MOBILE, USER_ID)
    values (#{mobile,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.sunny.task.user.model.AppUserByMobile">
        insert into app_user_by_mobile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                MOBILE,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.user.model.AppUserByMobile">
        update app_user_by_mobile
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=BIGINT},
            </if>
        </set>
        where MOBILE = #{mobile,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.user.model.AppUserByMobile">
    update app_user_by_mobile
    set USER_ID = #{userId,jdbcType=BIGINT}
    where MOBILE = #{mobile,jdbcType=VARCHAR}
  </update>
    <select id="selectAppUserIdByMobile" resultType="java.lang.Long">
      select
        USER_ID
      from app_user_by_mobile
      where MOBILE = #{mobile,jdbcType=VARCHAR}
    </select>
</mapper>
