<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.user.mapper.AppUserExtendMapper" >
  <resultMap id="BaseResultMap" type="com.sunny.task.user.model.AppUserExtend" >
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="TINYINT" />
    <result column="BIRTHDATE" property="birthdate" jdbcType="DATE" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="BIO" property="bio" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="BIGINT" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="BIGINT" />
    <result column="MODIFICATION_DATE" property="modificationDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.sunny.task.user.model.AppUserExtend" >
    insert into app_user_extend (USER_ID, SEX, BIRTHDATE, 
      REAL_NAME, CITY, BIO, 
      ADDRESS, URL, CREATOR, 
      CREATION_DATE, MODIFIER, MODIFICATION_DATE
      )
    values (#{userId,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{birthdate,jdbcType=DATE}, 
      #{realName,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{bio,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{creator,jdbcType=BIGINT}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{modificationDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.task.user.model.AppUserExtend" >
    insert into app_user_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birthdate != null" >
        BIRTHDATE,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="bio != null" >
        BIO,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="modificationDate != null" >
        MODIFICATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthdate != null" >
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="bio != null" >
        #{bio,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null" >
        #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>