<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.mapper.project.ProjectMapper">
    <!--开启二级缓存-->
    <cache/>

    <resultMap id="BaseResultMap" type="com.sunny.task.model.project.Project">
        <id column="U_ID" property="uId" jdbcType="VARCHAR"/>
        <result column="ORG_ID" property="orgId" jdbcType="VARCHAR"/>
        <result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="INTRO" property="intro" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="ICON_FILE_ID" property="iconFileId" jdbcType="VARCHAR"/>
        <result column="MEMBER_LIMIT" property="memberLimit" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="TINYINT"/>
        <result column="OPEN" property="open" jdbcType="BIT"/>
        <result column="AUTO_ADD" property="autoAdd" jdbcType="BIT"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFICATION_DATE" property="modificationDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    U_ID, ORG_ID, OWNER_ID, NAME, INTRO, URL, ICON_FILE_ID, MEMBER_LIMIT, STATUS, OPEN, 
    AUTO_ADD, CREATOR, CREATION_DATE, MODIFIER, MODIFICATION_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from project
        where U_ID = #{uId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from project
    where U_ID = #{uId,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.sunny.task.model.project.Project">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uId != null">
                U_ID,
            </if>
            <if test="orgId != null">
                ORG_ID,
            </if>
            <if test="ownerId != null">
                OWNER_ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="intro != null">
                INTRO,
            </if>
            <if test="url != null">
                URL,
            </if>
            <if test="iconFileId != null">
                ICON_FILE_ID,
            </if>
            <if test="memberLimit != null">
                MEMBER_LIMIT,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="open != null">
                OPEN,
            </if>
            <if test="autoAdd != null">
                AUTO_ADD,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="creationDate != null">
                CREATION_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uId != null">
                #{uId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="iconFileId != null">
                #{iconFileId,jdbcType=VARCHAR},
            </if>
            <if test="memberLimit != null">
                #{memberLimit,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="open != null">
                #{open,jdbcType=BIT},
            </if>
            <if test="autoAdd != null">
                #{autoAdd,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modificationDate != null">
                #{modificationDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.project.Project">
        update project
        <set>
            <if test="orgId != null">
                ORG_ID = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                OWNER_ID = #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                INTRO = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                URL = #{url,jdbcType=VARCHAR},
            </if>
            <if test="iconFileId != null">
                ICON_FILE_ID = #{iconFileId,jdbcType=VARCHAR},
            </if>
            <if test="memberLimit != null">
                MEMBER_LIMIT = #{memberLimit,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=TINYINT},
            </if>
            <if test="open != null">
                OPEN = #{open,jdbcType=BIT},
            </if>
            <if test="autoAdd != null">
                AUTO_ADD = #{autoAdd,jdbcType=BIT},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where U_ID = #{uId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.project.Project">
    update project
    set ORG_ID = #{orgId,jdbcType=VARCHAR},
      OWNER_ID = #{ownerId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      INTRO = #{intro,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      ICON_FILE_ID = #{iconFileId,jdbcType=VARCHAR},
      MEMBER_LIMIT = #{memberLimit,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=TINYINT},
      OPEN = #{open,jdbcType=BIT},
      AUTO_ADD = #{autoAdd,jdbcType=BIT},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP}
    where U_ID = #{uId,jdbcType=VARCHAR}
  </update>

    <resultMap id="ProjectVo" type="com.sunny.task.model.project.vo.ProjectVo" extends="BaseResultMap">
        <result column="userCount" property="userCount" jdbcType="INTEGER"/>
        <result column="NICK_NAME" property="owner" jdbcType="VARCHAR"/>
        <result column="isAdmin" property="isAdmin"/>
    </resultMap>

    <!--根据项目id获取项目详情-->
    <select id="selectOrganizationProjectByProIdAndOrgId" resultType="com.sunny.task.model.project.vo.ProjectVo">
        select
            a.U_ID uId,
            a.NAME,
            a.ORG_ID orgId,
            a.MEMBER_LIMIT memberLimit,
            group_concat(b.USER_ID) userIdList,
            count(b.USER_ID) userCount
        from
            project a left join project_user b on a.U_ID=b.PRO_ID
        where a.U_ID=#{uId,jdbcType=VARCHAR} and a.STATUS=1
    </select>
    
    <!--获取团队下的全部项目-->
    <select id="selectOrganizationsProjectsByOrgId" resultMap="ProjectVo">
        select
            a.U_ID,
            a.NAME,
            if(a.OWNER_ID=#{userId,jdbcType=VARCHAR},1,0) isAdmin,
            a.MEMBER_LIMIT,
            c.NICK_NAME,
            count(b.USER_ID) userCount,
            a.CREATION_DATE
        from
            project a left join project_user b on a.U_ID=b.PRO_ID
            left join organization_member c on a.ORG_ID=c.ORG_ID and a.OWNER_ID=c.USER_ID and c.STATUS=1
        where a.ORG_ID=#{orgId,jdbcType=VARCHAR}
        and a.STATUS=1 group by a.U_ID
    </select>
</mapper>
