<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.mapper.systemUser.AppUserByAccountMapper">
    <resultMap id="BaseResultMap" type="com.sunny.task.model.systemUser.AppUserByAccount">
        <id column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
        <result column="U_ID" property="uId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    ACCOUNT, U_ID
  </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_user_by_account
    where ACCOUNT = #{account,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sunny.task.model.systemUser.AppUserByAccount">
    insert into app_user_by_account (ACCOUNT, U_ID)
    values (#{account,jdbcType=VARCHAR}, #{uId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sunny.task.model.systemUser.AppUserByAccount">
        insert into app_user_by_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">
                ACCOUNT,
            </if>
            <if test="uId != null">
                U_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="uId != null">
                #{uId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.systemUser.AppUserByAccount">
        update app_user_by_account
        <set>
            <if test="uId != null">
                U_ID = #{uId,jdbcType=VARCHAR},
            </if>
        </set>
        where ACCOUNT = #{account,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.systemUser.AppUserByAccount">
    update app_user_by_account
    set U_ID = #{uId,jdbcType=VARCHAR}
    where ACCOUNT = #{account,jdbcType=VARCHAR}
  </update>

    <!--根据账号获取用户uid-->
    <select id="selectAppUserUidByAccount" resultType="java.lang.String">
        select
          U_ID
        from app_user_by_account
        where ACCOUNT = #{account,jdbcType=VARCHAR}
    </select>

    <!--添加账号查询key-->
    <select id="insertAppUserByAccountKey">
         insert into app_user_by_account (ACCOUNT, U_ID)
        values (#{account,jdbcType=VARCHAR}, #{uId,jdbcType=VARCHAR})
    </select>
    
</mapper>
