<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.mapper.systemUser.AppUserMapper">
    <resultMap id="BaseResultMap" type="com.sunny.task.model.systemUser.AppUser">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="PIN" property="pin" jdbcType="VARCHAR"/>
        <result column="ICON_FILE_ID" property="iconFileId" jdbcType="VARCHAR"/>
        <result column="OPEN_ID" property="openId" jdbcType="VARCHAR"/>
        <result column="PASSWORD1" property="password1" jdbcType="VARCHAR"/>
        <result column="PASSWORD2" property="password2" jdbcType="VARCHAR"/>
        <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFICATION_DATE" property="modificationDate" jdbcType="TIMESTAMP"/>
        <result column="VSERSION" property="vsersion" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, ACCOUNT, EMAIL, MOBILE, PIN, ICON_FILE_ID, OPEN_ID, PASSWORD1, PASSWORD2, NICK_NAME, 
    STATUS, CREATOR, CREATION_DATE, MODIFIER, MODIFICATION_DATE, VSERSION
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from app_user
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insertSelective" parameterType="com.sunny.task.model.systemUser.AppUser">
        insert into app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="account != null">
                ACCOUNT,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
            <if test="mobile != null">
                MOBILE,
            </if>
            <if test="pin != null">
                PIN,
            </if>
            <if test="iconFileId != null">
                ICON_FILE_ID,
            </if>
            <if test="openId != null">
                OPEN_ID,
            </if>
            <if test="password1 != null">
                PASSWORD1,
            </if>
            <if test="password2 != null">
                PASSWORD2,
            </if>
            <if test="nickName != null">
                NICK_NAME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="creationDate != null">
                CREATION_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE,
            </if>
            <if test="vsersion != null">
                VSERSION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="pin != null">
                #{pin,jdbcType=VARCHAR},
            </if>
            <if test="iconFileId != null">
                #{iconFileId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="password1 != null">
                #{password1,jdbcType=VARCHAR},
            </if>
            <if test="password2 != null">
                #{password2,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modificationDate != null">
                #{modificationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="vsersion != null">
                #{vsersion,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.systemUser.AppUser">
        update app_user
        <set>
            <if test="account != null">
                ACCOUNT = #{account,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                MOBILE = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="pin != null">
                PIN = #{pin,jdbcType=VARCHAR},
            </if>
            <if test="iconFileId != null">
                ICON_FILE_ID = #{iconFileId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                OPEN_ID = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="password1 != null">
                PASSWORD1 = #{password1,jdbcType=VARCHAR},
            </if>
            <if test="password2 != null">
                PASSWORD2 = #{password2,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                NICK_NAME = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="vsersion != null">
                VSERSION = #{vsersion,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.systemUser.AppUser">
    update app_user
    set ACCOUNT = #{account,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PIN = #{pin,jdbcType=VARCHAR},
      ICON_FILE_ID = #{iconFileId,jdbcType=VARCHAR},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      PASSWORD1 = #{password1,jdbcType=VARCHAR},
      PASSWORD2 = #{password2,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
      VSERSION = #{vsersion,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

    <!--用户扩展-->
    <resultMap id="AppUserVo" type="com.sunny.task.model.systemUser.vo.AppUserVo" extends="BaseResultMap">

    </resultMap>

    <!--根据用户uid获取用户信息-->
    <select id="selectAppUserByUId" resultMap="AppUserVo">
        select
            a.id,
            a.NICK_NAME,
            a.PASSWORD1,
            a.PASSWORD2,
            a.STATUS,
            b.BIO,
            b.ADDRESS
        from
            app_user a left join app_user_extend b on
            a.id = b.U_ID
        where a.id=#{id,jdbcType=VARCHAR}
    </select>

    <!--统计uid个数-->
    <select id="selectAppUserCount" resultType="int">
            select
              COUNT(id)
           from app_user
          where id=#{id,jdbcType=VARCHAR} and STATUS=1
    </select>
</mapper>
