<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.task.mapper.org.OrganizationResourceMapper">
  <resultMap id="BaseResultMap" type="com.sunny.task.model.org.OrganizationResource">
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="CORP_NAME" jdbcType="VARCHAR" property="corpName" />
    <result column="CORP_ID" jdbcType="VARCHAR" property="corpId" />
    <result column="CORP_SECRET" jdbcType="VARCHAR" property="corpSecret" />
    <result column="SOURCE" jdbcType="TINYINT" property="source" />
    <result column="SOURCE_NAME" jdbcType="VARCHAR" property="sourceName" />
    <result column="SSO_SECRET" jdbcType="VARCHAR" property="ssoSecret" />
    <result column="PERMANENT_CODE" jdbcType="VARCHAR" property="permanentCode" />
    <result column="IS_PRIMARY" jdbcType="BIT" property="isPrimary" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="MODIFIER" jdbcType="BIGINT" property="modifier" />
    <result column="MODIFICATION_DATE" jdbcType="TIMESTAMP" property="modificationDate" />
  </resultMap>
  
  <insert id="insertSelective" parameterType="com.sunny.task.model.org.OrganizationResource">
    insert into organization_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="corpName != null">
        CORP_NAME,
      </if>
      <if test="corpId != null">
        CORP_ID,
      </if>
      <if test="corpSecret != null">
        CORP_SECRET,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="sourceName != null">
        SOURCE_NAME,
      </if>
      <if test="ssoSecret != null">
        SSO_SECRET,
      </if>
      <if test="permanentCode != null">
        PERMANENT_CODE,
      </if>
      <if test="isPrimary != null">
        IS_PRIMARY,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modificationDate != null">
        MODIFICATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="corpSecret != null">
        #{corpSecret,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="ssoSecret != null">
        #{ssoSecret,jdbcType=VARCHAR},
      </if>
      <if test="permanentCode != null">
        #{permanentCode,jdbcType=VARCHAR},
      </if>
      <if test="isPrimary != null">
        #{isPrimary,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null">
        #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
</mapper>
