<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.task.mapper.org.OrganizationMemberMapper">
    <resultMap id="BaseResultMap" type="com.sunny.task.model.org.OrganizationMember">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ORG_ID" jdbcType="VARCHAR" property="orgId"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName"/>
        <result column="POSITION" jdbcType="VARCHAR" property="position"/>
        <result column="MANAGER" jdbcType="BIT" property="manager"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="STATUS" jdbcType="TINYINT" property="status"/>
        <result column="HIDE_EMAIL" jdbcType="BIT" property="hideEmail"/>
        <result column="HIDE_MOBILE" jdbcType="BIT" property="hideMobile"/>
        <result column="REJECT_TASK" jdbcType="BIT" property="rejectTask"/>
        <result column="REJECT_EMAIL_MSG" jdbcType="BIT" property="rejectEmailMsg"/>
        <result column="HIDE_ALL" jdbcType="BIT" property="hideAll"/>
        <result column="CREATOR" jdbcType="BIGINT" property="creator"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="MODIFIER" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFICATION_DATE" jdbcType="TIMESTAMP" property="modificationDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, ORG_ID, USER_ID, NICK_NAME, POSITION, MANAGER, REMARK, STATUS, HIDE_EMAIL, HIDE_MOBILE, 
    REJECT_TASK, REJECT_EMAIL_MSG, HIDE_ALL, CREATOR, CREATION_DATE, MODIFIER, MODIFICATION_DATE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from organization_member
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organization_member
    where ID = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.sunny.task.model.org.OrganizationMember">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into organization_member (ORG_ID, USER_ID, NICK_NAME,
        POSITION, MANAGER, REMARK,
        STATUS, HIDE_EMAIL, HIDE_MOBILE,
        REJECT_TASK, REJECT_EMAIL_MSG, HIDE_ALL,
        CREATOR, CREATION_DATE, MODIFIER,
        MODIFICATION_DATE)
        values (#{orgId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
        #{position,jdbcType=VARCHAR}, #{manager,jdbcType=BIT}, #{remark,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT}, #{hideEmail,jdbcType=BIT}, #{hideMobile,jdbcType=BIT},
        #{rejectTask,jdbcType=BIT}, #{rejectEmailMsg,jdbcType=BIT}, #{hideAll,jdbcType=BIT},
        #{creator,jdbcType=BIGINT}, #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT},
        #{modificationDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.sunny.task.model.org.OrganizationMember">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into organization_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                ORG_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="nickName != null">
                NICK_NAME,
            </if>
            <if test="position != null">
                POSITION,
            </if>
            <if test="manager != null">
                MANAGER,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="hideEmail != null">
                HIDE_EMAIL,
            </if>
            <if test="hideMobile != null">
                HIDE_MOBILE,
            </if>
            <if test="rejectTask != null">
                REJECT_TASK,
            </if>
            <if test="rejectEmailMsg != null">
                REJECT_EMAIL_MSG,
            </if>
            <if test="hideAll != null">
                HIDE_ALL,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="creationDate != null">
                CREATION_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                #{manager,jdbcType=BIT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="hideEmail != null">
                #{hideEmail,jdbcType=BIT},
            </if>
            <if test="hideMobile != null">
                #{hideMobile,jdbcType=BIT},
            </if>
            <if test="rejectTask != null">
                #{rejectTask,jdbcType=BIT},
            </if>
            <if test="rejectEmailMsg != null">
                #{rejectEmailMsg,jdbcType=BIT},
            </if>
            <if test="hideAll != null">
                #{hideAll,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modificationDate != null">
                #{modificationDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.org.OrganizationMember">
        update organization_member
        <set>
            <if test="orgId != null">
                ORG_ID = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                NICK_NAME = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                POSITION = #{position,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                MANAGER = #{manager,jdbcType=BIT},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=TINYINT},
            </if>
            <if test="hideEmail != null">
                HIDE_EMAIL = #{hideEmail,jdbcType=BIT},
            </if>
            <if test="hideMobile != null">
                HIDE_MOBILE = #{hideMobile,jdbcType=BIT},
            </if>
            <if test="rejectTask != null">
                REJECT_TASK = #{rejectTask,jdbcType=BIT},
            </if>
            <if test="rejectEmailMsg != null">
                REJECT_EMAIL_MSG = #{rejectEmailMsg,jdbcType=BIT},
            </if>
            <if test="hideAll != null">
                HIDE_ALL = #{hideAll,jdbcType=BIT},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=BIGINT},
            </if>
            <if test="creationDate != null">
                CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.org.OrganizationMember">
    update organization_member
    set ORG_ID = #{orgId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      MANAGER = #{manager,jdbcType=BIT},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      HIDE_EMAIL = #{hideEmail,jdbcType=BIT},
      HIDE_MOBILE = #{hideMobile,jdbcType=BIT},
      REJECT_TASK = #{rejectTask,jdbcType=BIT},
      REJECT_EMAIL_MSG = #{rejectEmailMsg,jdbcType=BIT},
      HIDE_ALL = #{hideAll,jdbcType=BIT},
      CREATOR = #{creator,jdbcType=BIGINT},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=BIGINT},
      MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectCountByOrgId" resultType="int">
          select
            count( id )
          from
          organization_member
          where
          org_id = #{orgId,jdbcType=VARCHAR}
          and STATUS!=0
    </select>

</mapper>
