<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.task.mapper.org.OrganizationChatMapper">
  <resultMap id="BaseResultMap" type="com.sunny.task.model.org.OrganizationChat">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId" />
    <result column="CHAT_ID" jdbcType="VARCHAR" property="chatId" />
    <result column="ICON_FILE_ID" jdbcType="BIGINT" property="iconFileId" />
    <result column="CHAT_NAME" jdbcType="VARCHAR" property="chatName" />
    <result column="CHAT_DESC" jdbcType="VARCHAR" property="chatDesc" />
    <result column="CHAT_TYPE" jdbcType="TINYINT" property="chatType" />
    <result column="AUTO_ADD" jdbcType="BIT" property="autoAdd" />
    <result column="MEMBER_LIMIT" jdbcType="INTEGER" property="memberLimit" />
    <result column="DEFAULT_MSG" jdbcType="VARCHAR" property="defaultMsg" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="MODIFIER" jdbcType="BIGINT" property="modifier" />
    <result column="MODIFICATION_DATE" jdbcType="TIMESTAMP" property="modificationDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORG_ID, PROJECT_ID, OWNER_ID, CHAT_ID, ICON_FILE_ID, CHAT_NAME, CHAT_DESC, CHAT_TYPE, 
    AUTO_ADD, MEMBER_LIMIT, DEFAULT_MSG, CREATOR, CREATION_DATE, MODIFIER, MODIFICATION_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization_chat
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organization_chat
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sunny.task.model.org.OrganizationChat">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization_chat (ORG_ID, PROJECT_ID, OWNER_ID, 
      CHAT_ID, ICON_FILE_ID, CHAT_NAME, 
      CHAT_DESC, CHAT_TYPE, AUTO_ADD, 
      MEMBER_LIMIT, DEFAULT_MSG, CREATOR, 
      CREATION_DATE, MODIFIER, MODIFICATION_DATE
      )
    values (#{orgId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR}, 
      #{chatId,jdbcType=VARCHAR}, #{iconFileId,jdbcType=BIGINT}, #{chatName,jdbcType=VARCHAR}, 
      #{chatDesc,jdbcType=VARCHAR}, #{chatType,jdbcType=TINYINT}, #{autoAdd,jdbcType=BIT}, 
      #{memberLimit,jdbcType=INTEGER}, #{defaultMsg,jdbcType=VARCHAR}, #{creator,jdbcType=BIGINT}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{modificationDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.task.model.org.OrganizationChat">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization_chat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="ownerId != null">
        OWNER_ID,
      </if>
      <if test="chatId != null">
        CHAT_ID,
      </if>
      <if test="iconFileId != null">
        ICON_FILE_ID,
      </if>
      <if test="chatName != null">
        CHAT_NAME,
      </if>
      <if test="chatDesc != null">
        CHAT_DESC,
      </if>
      <if test="chatType != null">
        CHAT_TYPE,
      </if>
      <if test="autoAdd != null">
        AUTO_ADD,
      </if>
      <if test="memberLimit != null">
        MEMBER_LIMIT,
      </if>
      <if test="defaultMsg != null">
        DEFAULT_MSG,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modificationDate != null">
        MODIFICATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="chatId != null">
        #{chatId,jdbcType=VARCHAR},
      </if>
      <if test="iconFileId != null">
        #{iconFileId,jdbcType=BIGINT},
      </if>
      <if test="chatName != null">
        #{chatName,jdbcType=VARCHAR},
      </if>
      <if test="chatDesc != null">
        #{chatDesc,jdbcType=VARCHAR},
      </if>
      <if test="chatType != null">
        #{chatType,jdbcType=TINYINT},
      </if>
      <if test="autoAdd != null">
        #{autoAdd,jdbcType=BIT},
      </if>
      <if test="memberLimit != null">
        #{memberLimit,jdbcType=INTEGER},
      </if>
      <if test="defaultMsg != null">
        #{defaultMsg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null">
        #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.org.OrganizationChat">
    update organization_chat
    <set>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        OWNER_ID = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="chatId != null">
        CHAT_ID = #{chatId,jdbcType=VARCHAR},
      </if>
      <if test="iconFileId != null">
        ICON_FILE_ID = #{iconFileId,jdbcType=BIGINT},
      </if>
      <if test="chatName != null">
        CHAT_NAME = #{chatName,jdbcType=VARCHAR},
      </if>
      <if test="chatDesc != null">
        CHAT_DESC = #{chatDesc,jdbcType=VARCHAR},
      </if>
      <if test="chatType != null">
        CHAT_TYPE = #{chatType,jdbcType=TINYINT},
      </if>
      <if test="autoAdd != null">
        AUTO_ADD = #{autoAdd,jdbcType=BIT},
      </if>
      <if test="memberLimit != null">
        MEMBER_LIMIT = #{memberLimit,jdbcType=INTEGER},
      </if>
      <if test="defaultMsg != null">
        DEFAULT_MSG = #{defaultMsg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null">
        MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.org.OrganizationChat">
    update organization_chat
    set ORG_ID = #{orgId,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      OWNER_ID = #{ownerId,jdbcType=VARCHAR},
      CHAT_ID = #{chatId,jdbcType=VARCHAR},
      ICON_FILE_ID = #{iconFileId,jdbcType=BIGINT},
      CHAT_NAME = #{chatName,jdbcType=VARCHAR},
      CHAT_DESC = #{chatDesc,jdbcType=VARCHAR},
      CHAT_TYPE = #{chatType,jdbcType=TINYINT},
      AUTO_ADD = #{autoAdd,jdbcType=BIT},
      MEMBER_LIMIT = #{memberLimit,jdbcType=INTEGER},
      DEFAULT_MSG = #{defaultMsg,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=BIGINT},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=BIGINT},
      MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>
