<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.task.mapper.org.OrganizationMemberResourceMapper">
  <resultMap id="BaseResultMap" type="com.sunny.task.model.org.OrganizationMemberResource">
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="CORP_ID" jdbcType="VARCHAR" property="corpId" />
    <result column="CORP_USER_ID" jdbcType="VARCHAR" property="corpUserId" />
    <result column="CORP_USER_OPENID" jdbcType="VARCHAR" property="corpUserOpenid" />
    <result column="CORP_USER_NAME" jdbcType="VARCHAR" property="corpUserName" />
    <result column="CORP_USER_EMAIL" jdbcType="VARCHAR" property="corpUserEmail" />
    <result column="CORP_USER_MOBILE" jdbcType="VARCHAR" property="corpUserMobile" />
    <result column="CORP_USER_ORGEMAIL" jdbcType="VARCHAR" property="corpUserOrgemail" />
    <result column="CORP_USER_AVATAR" jdbcType="VARCHAR" property="corpUserAvatar" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="MODIFIER" jdbcType="BIGINT" property="modifier" />
    <result column="MODIFICATION_DATE" jdbcType="TIMESTAMP" property="modificationDate" />
  </resultMap>
  
  <insert id="insertSelective" parameterType="com.sunny.task.model.org.OrganizationMemberResource">
    insert into organization_member_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="corpId != null">
        CORP_ID,
      </if>
      <if test="corpUserId != null">
        CORP_USER_ID,
      </if>
      <if test="corpUserOpenid != null">
        CORP_USER_OPENID,
      </if>
      <if test="corpUserName != null">
        CORP_USER_NAME,
      </if>
      <if test="corpUserEmail != null">
        CORP_USER_EMAIL,
      </if>
      <if test="corpUserMobile != null">
        CORP_USER_MOBILE,
      </if>
      <if test="corpUserOrgemail != null">
        CORP_USER_ORGEMAIL,
      </if>
      <if test="corpUserAvatar != null">
        CORP_USER_AVATAR,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modificationDate != null">
        MODIFICATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="corpUserId != null">
        #{corpUserId,jdbcType=VARCHAR},
      </if>
      <if test="corpUserOpenid != null">
        #{corpUserOpenid,jdbcType=VARCHAR},
      </if>
      <if test="corpUserName != null">
        #{corpUserName,jdbcType=VARCHAR},
      </if>
      <if test="corpUserEmail != null">
        #{corpUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="corpUserMobile != null">
        #{corpUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="corpUserOrgemail != null">
        #{corpUserOrgemail,jdbcType=VARCHAR},
      </if>
      <if test="corpUserAvatar != null">
        #{corpUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null">
        #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
</mapper>
