<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.task.mapper.org.OrganizationAppMapper">
  <resultMap id="BaseResultMap" type="com.sunny.task.model.org.OrganizationApp">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="UNIQUE_ID" jdbcType="VARCHAR" property="uniqueId" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="APP_NAME" jdbcType="VARCHAR" property="appName" />
    <result column="APP_DESC" jdbcType="VARCHAR" property="appDesc" />
    <result column="APP_HOME_URL" jdbcType="VARCHAR" property="appHomeUrl" />
    <result column="APP_PC_HOME_URL" jdbcType="VARCHAR" property="appPcHomeUrl" />
    <result column="ICON_FILE_ID" jdbcType="VARCHAR" property="iconFileId" />
    <result column="IS_USE" jdbcType="BIT" property="isUse" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="IS_PRIMARY" jdbcType="BIT" property="isPrimary" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="MODIFIER" jdbcType="BIGINT" property="modifier" />
    <result column="MODIFICATION_DATE" jdbcType="TIMESTAMP" property="modificationDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UNIQUE_ID, ORG_ID, APP_ID, APP_NAME, APP_DESC, APP_HOME_URL, APP_PC_HOME_URL,
    ICON_FILE_ID, IS_USE, STATUS, IS_PRIMARY, CREATOR, CREATION_DATE, MODIFIER, MODIFICATION_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from organization_app
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organization_app
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sunny.task.model.org.OrganizationApp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization_app (UNIQUE_ID, ORG_ID, APP_ID,
      APP_NAME, APP_DESC, APP_HOME_URL,
      APP_PC_HOME_URL, ICON_FILE_ID, IS_USE,
      STATUS, IS_PRIMARY, CREATOR,
      CREATION_DATE, MODIFIER, MODIFICATION_DATE
      )
    values (#{uniqueId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR},
      #{appName,jdbcType=VARCHAR}, #{appDesc,jdbcType=VARCHAR}, #{appHomeUrl,jdbcType=VARCHAR},
      #{appPcHomeUrl,jdbcType=VARCHAR}, #{iconFileId,jdbcType=VARCHAR}, #{isUse,jdbcType=BIT},
      #{status,jdbcType=TINYINT}, #{isPrimary,jdbcType=BIT}, #{creator,jdbcType=BIGINT},
      #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{modificationDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.task.model.org.OrganizationApp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uniqueId != null">
        UNIQUE_ID,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="appName != null">
        APP_NAME,
      </if>
      <if test="appDesc != null">
        APP_DESC,
      </if>
      <if test="appHomeUrl != null">
        APP_HOME_URL,
      </if>
      <if test="appPcHomeUrl != null">
        APP_PC_HOME_URL,
      </if>
      <if test="iconFileId != null">
        ICON_FILE_ID,
      </if>
      <if test="isUse != null">
        IS_USE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="isPrimary != null">
        IS_PRIMARY,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modificationDate != null">
        MODIFICATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uniqueId != null">
        #{uniqueId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null">
        #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="appHomeUrl != null">
        #{appHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="appPcHomeUrl != null">
        #{appPcHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconFileId != null">
        #{iconFileId,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isPrimary != null">
        #{isPrimary,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null">
        #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.org.OrganizationApp">
    update organization_app
    <set>
      <if test="uniqueId != null">
        UNIQUE_ID = #{uniqueId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null">
        APP_DESC = #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="appHomeUrl != null">
        APP_HOME_URL = #{appHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="appPcHomeUrl != null">
        APP_PC_HOME_URL = #{appPcHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconFileId != null">
        ICON_FILE_ID = #{iconFileId,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        IS_USE = #{isUse,jdbcType=BIT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="isPrimary != null">
        IS_PRIMARY = #{isPrimary,jdbcType=BIT},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modificationDate != null">
        MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.org.OrganizationApp">
    update organization_app
    set UNIQUE_ID = #{uniqueId,jdbcType=VARCHAR},
      ORG_ID = #{orgId,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      APP_NAME = #{appName,jdbcType=VARCHAR},
      APP_DESC = #{appDesc,jdbcType=VARCHAR},
      APP_HOME_URL = #{appHomeUrl,jdbcType=VARCHAR},
      APP_PC_HOME_URL = #{appPcHomeUrl,jdbcType=VARCHAR},
      ICON_FILE_ID = #{iconFileId,jdbcType=VARCHAR},
      IS_USE = #{isUse,jdbcType=BIT},
      STATUS = #{status,jdbcType=TINYINT},
      IS_PRIMARY = #{isPrimary,jdbcType=BIT},
      CREATOR = #{creator,jdbcType=BIGINT},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=BIGINT},
      MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>
