<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.user.mapper.AppUserByEmailMapper">
    <resultMap id="BaseResultMap" type="com.sunny.task.user.model.AppUserByEmail">
        <id column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    EMAIL, USER_ID
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from app_user_by_email
        where EMAIL = #{email,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_user_by_email
    where EMAIL = #{email,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sunny.task.user.model.AppUserByEmail">
    insert into app_user_by_email (EMAIL, USER_ID)
    values (#{email,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.sunny.task.user.model.AppUserByEmail">
        insert into app_user_by_email
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="email != null">
                EMAIL,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.user.model.AppUserByEmail">
        update app_user_by_email
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=BIGINT},
            </if>
        </set>
        where EMAIL = #{email,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.user.model.AppUserByEmail">
    update app_user_by_email
    set USER_ID = #{userId,jdbcType=BIGINT}
    where EMAIL = #{email,jdbcType=VARCHAR}
  </update>
    <select id="selectAppUserIdByEmail" resultType="java.lang.Long">
      select
        USER_ID
      from app_user_by_email
      where EMAIL = #{email,jdbcType=VARCHAR}
    </select>
</mapper>
