<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.task.mapper.project.ProjectUserMapper">
    <resultMap id="BaseResultMap" type="com.sunny.task.model.project.ProjectUser">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="ORG_ID" property="orgId" jdbcType="VARCHAR"/>
        <result column="PRO_ID" property="proId" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="TINYINT"/>
        <result column="MANAGER" property="manager" jdbcType="BIT"/>
        <result column="CREATOR" property="creator" jdbcType="BIGINT"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="BIGINT"/>
        <result column="MODIFICATION_DATE" property="modificationDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, ORG_ID, PRO_ID, USER_ID, NAME, REMARK, STATUS, MANAGER, CREATOR, CREATION_DATE, 
    MODIFIER, MODIFICATION_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from project_user
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from project_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.sunny.task.model.project.ProjectUser">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into project_user (ORG_ID, PRO_ID, USER_ID,
        NAME, REMARK, STATUS,
        MANAGER, CREATOR, CREATION_DATE,
        MODIFIER, MODIFICATION_DATE)
        values (#{orgId,jdbcType=VARCHAR}, #{proId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
        #{manager,jdbcType=BIT}, #{creator,jdbcType=BIGINT}, #{creationDate,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT}, #{modificationDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.sunny.task.model.project.ProjectUser">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into project_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                ORG_ID,
            </if>
            <if test="proId != null">
                PRO_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="manager != null">
                MANAGER,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="creationDate != null">
                CREATION_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="proId != null">
                #{proId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="manager != null">
                #{manager,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modificationDate != null">
                #{modificationDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.task.model.project.ProjectUser">
        update project_user
        <set>
           
            <if test="proId != null">
                PRO_ID = #{proId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=TINYINT},
            </if>
            <if test="manager != null">
                MANAGER = #{manager,jdbcType=BIT},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modificationDate != null">
                MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.task.model.project.ProjectUser">
    update project_user
    set ORG_ID = #{orgId,jdbcType=VARCHAR},
      PRO_ID = #{proId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      MANAGER = #{manager,jdbcType=BIT},
      CREATOR = #{creator,jdbcType=BIGINT},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=BIGINT},
      MODIFICATION_DATE = #{modificationDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

    <!--添加项目成员-->
    <select id="insertProjectUsers">
        INSERT INTO project_user
        (ORG_ID, PRO_ID, USER_ID, NAME, MANAGER, CREATOR, CREATION_DATE, MODIFIER)
        <foreach collection="users" item="userId" index="index" separator="," open="(" close=")">
            select #{orgId,jdbcType=VARCHAR}, #{proId,jdbcType=VARCHAR},UNIQUE_ID,if(NICK_NAME is
            null,left(EMAIL,50),NICK_NAME) name, #{admin,jdbcType=BIT}, id,now(),id from app_user where
            UNIQUE_ID=#{userId,jdbcType=VARCHAR}
        </foreach>
    </select>

    <!--根据项目id获取成员id-->
    <select id="selectProjectUserIdByProId" resultType="java.lang.String">
        select USER_ID from project_user where PRO_ID= #{proId,jdbcType=VARCHAR}
    </select>

    <!--批量删除项目成员-->
    <select id="deleteProjectUserByProId">
        DELETE FROM PROJECT_USER
        WHERE PRO_ID=#{proId,jdbcType=VARCHAR} AND USER_ID IN
        <foreach collection="userIds" item="userId" index="index" separator="," open="(" close=")">
            #{userId,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>
